*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

main{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.781));
}

p{
    margin: 0%;
    color: white;
    padding: 15px;
}

h1{
    color: white;
    padding: 10px;
}

.banner{
width: 100%;
height: 400px;
}

/* Footer */

footer ul{
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
    margin: 0%;
    background-color: gray;
    padding-left: 0;
}

footer ul li{
    list-style: none;
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100px; */
    display: grid;
    justify-items: center;
    height: 15px;
    align-content: space-around;
    grid-template-rows: 35px;
}

footer ul li a{
    color: red;
}

footer ul li a:hover{
font-weight: bold;
color: white;
}

footer ul li a:active{
    color: black;
}

.fa-instagram, .fa-whatsapp, .fa-facebook, .fa-message{
    transform: scale(1.5,1.5)
    ;
}

.texto-index{
    color: white;
}

.nav-color{
    background-color: black;
}

.nav-link:hover, .navbar-brand:hover{
    font-weight: bold;
}

header a{
    color: white !important;
}

.dropdown-menu{
    background-color: black;
}

.frame{
display: flex;
justify-content: center;
}
.youtube{
    margin: 1%;
}
/* Pagina Conocenos */


.conocenos-section{
    color: white;
    margin: 0%;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    align-items: center;
    padding: 10px;
}

/* Pagina FaQ */

.contacto{
   padding: 15px;
}

.contacto h2{
    color: white;
}

.accordion-button{
    color: red !important;
}